@media only screen and (min-width: 650px) {

    
    

    img {
        width: 248px; 
        height: 200px;
      }


      
      

      #cards {
          display: grid;
          grid-template-columns: 1fr;

      }

      .card {
        width: 250px; 
        display: flex; 
        flex-flow: row;
        width: auto;
      }

      .card:nth-child(even) {
          flex-flow: row-reverse;
      }

      

      

      

      
}