@media only screen and (min-width: 650px) {

    
   

    img {
        width: 248px; 
        height: 200px;
      }

      .card {
        width: 250px; 
      }

      #cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}