@media only screen and (min-width: 250px) {

    /* HTML Standard Tag Rules */

    body {
        text-align: left;
        font-family: 'Bebas Neue', cursive;
        background-color: #d9dad7;
        margin: auto; 
        width: 100%;
        padding: 10px;
        color: #d9dad7;
    }

    main {
        margin: auto;
        text-align: left;
    }

    h2 {
        text-align: left;
        color: #1a2639;
    }

    h3 {
      text-align: left;
        color: #1a2639;
        width: auto;
    }
    
    hr {
        text-align: left;
        width: 100%;
        background-color: #1a2639;
    }
    
    ul {
        padding: 10px;
        color: #1a2639;
    }
    
    li {
        text-align: left;
        color: #1a2639;
    }

    header {
        background-color: #3e4a61;  
        border-radius: 10px;
        padding: 10px;
      
      }
      
    footer {
        text-align: left;
        background-color: #3e4a61;  
        border-radius: 10px;
        padding: 10px;
      }

      /*object rules*/

      .site-head{
        display: flex;
    }

      .weather-nav{
        background-color: #c24d2c;
        overflow: hidden;
        border-radius: 10px;
        display: grid;
        grid-template-rows: (6, 6fr);
      }

      .site-links{
          display: inline;
      }
    
      .link-rules{
        color: #d9dad7;
      }

      #logo {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        margin-top: 25px;
      }

      .forecast{
        margin: 10px;
        padding: 15px;
        color: #d9dad7;
        font-style: italic;
        background-color: #3e4a61;
      }

      .content-box{
          margin: 10px;
          padding: 15px;
          color: #d9dad7;
          font-style: italic;
          background-color: #3e4a61;
      }
}